@import url('https://fonts.googleapis.com/css2? family = Poppins: wght @ 300 & display = swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}
h1{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2rem;
}
:root {
    --body-bg :  hsl(225, 100%, 94%);
    
 
    --color :  #fff ;
    --white:#000;

}
.on:root{
    --body-bg :  hsl(240, 3%, 14%);
    
    
    --color :#000  ;
    --white:#fff;
    transition: transform 5s ease-in;
}
                .darkmode{
                    position: absolute;
                    z-index: 100;
                    width: 50px;
                    top: 100px;
                    right:100px ;
                    
                }
.container{
    color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
   width: 100vw;
    align-items: center;
    height: 100vh;
    img{
        width: 100vw;
    }
    background: var(--body-bg);
    p{
       font-size: 16px;
       
       
    }
}
.containerbox{
    width: 400px;
   
   img{
     width:  100%; 
     border-radius: 1rem 1rem 0 0;
   }
    position: absolute;
    z-index: 100;
    top: 100px;
    background-color:var(--color);
    display: flex;
    flex-direction: column;
 
    height: 610px;
    align-items: center;
    border-radius: 1rem;


    
}
.planediv{
    width: 100%;
    padding: .1rem;
    margin-top: 2rem;
    img{
        width: 50px;
        position: relative;
        top: 5;
    }
    .divpla{
        display: flex;
      align-items:center;
    }
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    .span{
        margin: 1rem;

    span{
        margin-bottom: .3rem;
    }
       
    }
}

    .a1{
        
    margin-bottom: .9rem; 
    margin-top: 2rem;
        background-color:  hsl(245, 75%, 52%);
         padding: 1rem;padding-left: 4rem;
        padding-right: 4rem;
        border-radius: .5rem;
        color: #fff;
      
       

        
    }
    .a1:hover{
        background-color: hsl(223, 47%, 23%);
        color: #fff;
    }

.a2{
    
    font-weight: bolder;
    color: gray;
    padding-bottom: 1rem;
}
.attribution{
    position: absolute;
   
    
     bottom: 0;
}